<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Loggable Extension">
            <directory suffix="Test.php">tests/MongoExtensions/Loggable/</directory>
        </testsuite>
        <testsuite name="SoftDeletable Extension">
            <directory suffix="Test.php">tests/MongoExtensions/SoftDeletable/</directory>
        </testsuite>
        <testsuite name="Object wrappers">
            <directory suffix="Test.php">tests/MongoExtensions/Wrapper/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>